
/*---- 

====================
1. Base CSS
    # base  CSS
====================

----*/ 

@use "./../abstract";


/* Base CSS */

:root {
    --primary-color: #0C7735;
    --secondary-color: #FFB200;
    --heading-color: #18271E;
    --primary-black-color: #051B0D;
    --black-dark-color: #0E1712;
    --gray-color: #F8F7F0;
    --white-color: #ffffff;
    --text-color: #454545;
    --border-color: #DDDDDD;
    --rating-color: #FF9F1A;
    --accent-font:"Handlee", cursive;
    --body-font: "Plus Jakarta Sans", sans-serif;
}
html{
    font-size: 100%;
}
*{
    margin: 0;
    padding: 0;
    @include box-sizing (border-box);
}
a{
    color: inherit;
    text-decoration: none;
    @include transition(.3s);
    &:hover,&:focus{
        color: inherit;
        text-decoration: none;
    }
}
a:focus,
input:focus,
textarea:focus,
button:focus {
    text-decoration: none;
    outline: none;
}

i,
span,
a{
    display: inline-block;
}
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0px;
    font-weight: 700;
    color: $heading-color;
    font-family: $body-font;
}
h1{
    font-size: $h1-font;
    line-height: 100px;
}
h2{
    font-size: $h2-font;
    line-height: 65px;
}
h3{
    font-size: $h3-font;
    line-height: 40px;
}
h4{
    font-size: $h4-font;
    line-height: 34px;
}
h5{
    font-size: $h5-font;
    line-height: 30px
}
h6{
    font-size: $h6-font;
    line-height: 27px;
}
ul,ol {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
p{
    margin: 0px;
}
input,textarea{
    display: inherit;
}
button{
    border: none;
}
label{
    margin-bottom: 0;
}
iframe{
    width: 100%;
    border: none;
    display: inherit;
}
img{
    max-width: 100%;
}
body {
    font-weight: normal;
    font-style: normal;
    font-weight: 400;
    color: $text-color;
    font-family: $body-font;
    font-size: 16px;
    line-height: 30px;
    overflow-x: hidden;
    
}

main{
    width: 100%;
}


/*===== Scrollbar =====*/

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #abafb9; 
}
::-webkit-scrollbar-thumb {
    background-color:#13172b;
}
