
@use "./../abstract";

.theme-btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 600;
    line-height: 19px;
    font-family: $body-font;
    transition: all .3s;
    &.style-one{
        position: relative;
        z-index: 1;
        background-color: $primary-color;
        color: $white-color;
        overflow: hidden;
        padding: 18px 30px;
        &:after{
            position: absolute;
            content: '';
            bottom: -70%;
            right: -90%;
            width: 100%;
            height: 100%;
            background-color: $secondary-color;
            border-radius: 20px 20px 0 0;
            z-index: -1;
            transition: all .3s;
        }
        & i{
            margin-left: 10px;
            transition: all .3s;
        }
        &:hover{
            background-color: $primary-black-color;
            color: $heading-color;
            &:after{
                bottom: 0;
                right: 0;
                border-radius: 0;
            }
        }
    }
    &.style-two{
        padding: 17px 22px;
        border: 1px solid $primary-color;
        color: $primary-color;
        &:hover{
            background-color: $primary-color;
            border-color: transparent;
            color: $white-color;
        }
    }
}

.read-more{
    &.style-one{
        display: inline-flex;
        align-items: center;
        font-weight: 600;
        text-transform: capitalize;
        text-decoration: underline;
        &:hover{
            color: $primary-color;
        }
    }
}