

/*---- 

====================
01. Base CSS
    # Common CSS
====================

----*/ 


@use "./../abstract";

#smooth-wrapper{
    overflow: hidden;
    z-index: 1;
}
@media (min-width: 1451px) {
    .container{
        max-width: 1314px;
    }
}
@media (min-width: 1200px) and (max-width: 1450px) {
    .container{
        max-width: 1200px;
    }
}
.p-r{
    position: relative;
}
.bg_cover{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
}
.font-200{
    font-weight: 200;
}
.form-group{
    position: relative;
}
label{
    margin-bottom: 0;
}
.form_control{
    width: 100%;
}
.text-white{
    p,
    h6,
    h5,
    h4,
    h3,
    h2,
    & h1{
        color: $white-color;
    }
    & .sub-heading{
        background-color: $white-color;
        color: $heading-color;
        border-color: transparent;
    }
}
.thin-200{
    font-weight: 200;
}


.sub-title{
    padding: 8px 20px;
    display: inline-flex;
    align-items: center;
    line-height: 1;
    font-weight: 500;
    margin-bottom: 12px;
    border-radius: 30px;
    border: 1px solid $border-color;
    & i{
        color: $secondary-color;
        margin-right: 10px;
    }
}

.section-title{
    & h2{
        @include respond(xxl){
            font-size: 38px;
            line-height: 1.1;
        }
        @include respond(xl){
            font-size: 36px;
            line-height: 1.3;
        }
        @include respond(md){
            font-size: 28px;
        }
    }
}

.title-white{
    & h2{
        color: $white-color;
    }
    & p{
        color: $white-color;
    }
}

.check-list{
    &.style-one{
        & li{
            display: flex;
            align-items: center;
            line-height: 1;
            &:not(:last-child){
                margin-bottom: 13px;
            }
            & i{
                margin-right: 10px;
                color: $primary-color;
            }
        }
    }
    &.style-two{
        & li{
            position: relative;
            padding-left: 15px;
            &:not(:last-child){
                margin-bottom: 10px;
            }
            &:before{
                position: absolute;
                top: 11px;
                left: 0;
                content: '';
                width: 5px;
                height: 5px;
                border-radius: 50%;
            }
        }
    }
}

/* Search Modal */

.search-modal{
    background-color: rgb(13 18 23 / 95%);
    & .modal-content{
        padding: 15px 30px;
        background-color: transparent;
        border: none;
        & .form_control{
            border: none;
            padding: 15px 30px 15px 0;
            background-color: transparent;
            color: #fff;
            border-bottom: 1px solid rgba(255, 255, 255, .7);
            &::placeholder{
                color: #fff;
            }
            &:focus{
                background-color: transparent;
            }
        }
        & label{
            position: absolute;
            top: 17px;
            right: 0;
            color: $white-color;
        }
    }
}

/* Nice Select */

.nice-select{
    &:after{
        content: '\f107';
        font-family: 'Font Awesome 5 Pro';
    }
}



/* Pagination */ 

.agricko-pagination{
    & ul{
        & li{
            display: inline-block;
            margin-left: 5px;
            margin-right: 5px;
            & a{
                width: 55px;
                height: 55px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid $border-color;
                color: $heading-color;
                &:hover{
                    background-color: $primary-color;
                    color: $white-color;
                }
            }
        }
    }
}

/* Form Check & Radio */ 

.form-check{
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 0;
    & label{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        cursor: pointer;
    }
}
.form-input-radio{
    position: relative;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid $border-color;
    margin-right: 10px;
    &:checked{
        border-color: $secondary-color;
        &:after{
            position: absolute;
            content: '';
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: $primary-black-color;
        }
    }
}
/*===  Back To top  ====*/ 

.back-to-top{
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary-color;
    font-size: 16px;
    z-index: 2;
    cursor: pointer;
    color: $white-color;
    &:hover{
        color: $primary-black-color;
        color: $white-color;
    }
}