
@use "./../abstract";

/* Offcanvas Overlay */

.offcanvas__overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background: #151515;
    z-index: 900;
    top: 0;
    opacity: 0;
    visibility: hidden;
    right: 0;
    &.overlay-open{
        opacity: 0.8;
        visibility: visible;
    }
}

.sidebar-btn{
    margin-left: 15px;
    cursor: pointer;
    text-align: right;
}

.sidebar-btn span{
    width: 30px;
    display: block;
    height: 2px;
    background-color: $heading-color;
    &:nth-child(2){
        margin-top: 5px;
        margin-bottom: 5px;
        width: 25px;
        margin-left: auto;
    }
}