

// colors

$primary-color: var(--primary-color);

$secondary-color: var(--secondary-color);

$primary-black-color: var(--primary-black-color);

$black-dark-color: var(--black-dark-color);

$heading-color: var(--heading-color);

$gray-color: var(--gray-color);

$white-color: var(--white-color);

$text-color: var(--text-color);

$border-color: var(--border-color);